<h1>ブログ一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <td><%= link_to '詳細', blog_path(blog.id), class: "btn btn-primary" %></td>
    <td><%= link_to '編集', edit_blog_path(blog.id), class: "btn btn-secondary" %></td>
    <td><%= link_to '削除', blog_path(blog.id), date: { confirm: '本当に編集していいですか？' } %></td>
  </tr>
<% end %>
</table>

<%= link_to '新しくブログを投稿する', new_blog_path %>